.proj {
  .filterBtns {
    padding: 3em 0;
    button {
      background-color: #fff;
      cursor: pointer;
      margin: 0 1em;
      padding: 0.7em 1.7em;
      border: 2px solid black;
      font-size: 15px;
      font-weight: 600;
      border-radius: 15px;
      @media screen and (max-width: 380px) {
        margin-bottom: 0.7em;
      }
    }
    button:hover {
      background-color: #f48a17;
      color: #ffff;
    }
    button:focus {
      background-color: #f48a17;
      color: #ffff;
    }
  }
  .proj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //   background-color: #16384c;
    .container {
      position: relative;
      width: 1300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px;
      .card:hover {
        height: 350px;
      }
      .card:hover .content {
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
      }
      .card {
        position: relative;
        max-width: 300px;
        //   height: 420px;
        height: 215px;
        // background-color: rgba(255, 208, 0, 0.411);
        border: 2px solid #f48a17;
        margin: 30px 20px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out;
        .imgBx {
          position: relative;
          width: 260px;
          height: 260px;
          top: -60px;
          //important if you wat the img to move
          left: 5px;
          z-index: 1;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          img {
            max-width: 100%;
            border-radius: 4px;
          }
        }

        .content {
          position: relative;
          margin-top: -140px;
          padding: 10px 15px;
          text-align: center;
          color: #111;
          visibility: hidden;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
      }
      button {
        background-color: #fff;
        border: 2px solid #f48a17;
        border-radius: 25px;
        padding: 9px;
        cursor: pointer;
        font-size: 16px;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      .P-btn {
        margin-bottom: 35px;
        #left-space {
          margin-left: 0.5em;
        }
        button:hover {
          background-color: #f48a17;
          // color: #fff;
        }
      }
    }
  }
}
